services:
  #mongo_service_name:
    image: mongo-replica 
    restart: unless-stopped
    environment:
      MONGODB_REPLICA_SET_ID: "${MONGODB_REPLICA_SET_ID}"
    networks:
      - myNetwork
    ports:
      - ${MONGODB_MAPPED_PORT}:27017
    volumes:
      - ${LOCAL_PATH_TO_MONGODB_DIR}/assessments:/docker-entrypoint-initdb.d/assessments/
      - ${LOCAL_PATH_TO_MONGODB_DIR}/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    container_name: ${MONGODB_CONTAINER_NAME}
    
networks:
  myNetwork:
    external: true
