services:
  #memcached_service_name:
    image: memcached
    entrypoint:
      - memcached
    env_file: 
      - ${ENV_DIR}memcached
    networks:
      - myNetwork
    command: ["-m", "512m", "-I", "2m"]
    ports:
      - ${MEMCACHED_MAPPED_PORT}:11211
    container_name:
      ${MEMCACHED_CONTAINER_NAME}

networks:
  myNetwork:
    external: true