services:
  #webserver_service_name:
    command: >
        /bin/sh -c "cd /usr/src/app && npm run-script start-production --prefix=./DAACS-Webserver"
    expose:
      - ${PORT}
      - 443
    restart: unless-stopped
    networks:
      - nginx-proxy
      - myNetwork
    env_file: 
      - ${ENV_DIR}webserver
      - ${ENV_DIR}memcached
      - ${ENV_DIR}email
    environment:
      - "MONGO_USERNAME=${MONGO_USERNAME}"
      - "MONGO_PASSWORD=${MONGO_PASSWORD}"
      - "MONGODB_CONTAINER_NAME=${MONGODB_CONTAINER_NAME}"
      - "MONGODB_DATABASE_NAME=${MONGODB_DATABASE_NAME}"
      - "MONGO_PASSWORD=${MONGO_PASSWORD}"
      - "MONGO_REPLICA_SET_MODE=${MONGO_REPLICA_SET_MODE}"
      - "MONGO_MANUAL_MODE=${MONGO_MANUAL_MODE}"
      - "MONGODB_MAPPED_PORT=${MONGODB_MAPPED_PORT}"
      - "MONGO_REPLICA_HOST_LIST=${MONGO_REPLICA_HOST_LIST}"
      - "MONGODB_REPLICA_SET_ID=${MONGODB_REPLICA_SET_ID}"
    volumes:
      - "${FOLDER_START}:/usr/src/app"
    image: node
    deploy:
      mode: replicated
      replicas: ${REPLICAS}

networks:
  nginx-proxy:
    external: true
  myNetwork:
    external: true
