services:
  #mongo_service_name:
    image: mongo
    restart: unless-stopped
    env_file: 
      - ${ENV_DIR}queuemongo-init
      - ${ENV_DIR}queuemongo
      - ${ENV_DIR}oauth
    networks:
      - myNetwork
    ports:
      - ${MONGODB_MAPPED_PORT}:27017
    volumes:
      - ${LOCAL_PATH_TO_MONGODB_DIR}/mongo-queue-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    container_name: ${MONGODB_CONTAINER_NAME}

  #qserver_service_name:
    restart: unless-stopped
    image: daacs-qserver
    build: 
      context: .
      dockerfile: ${BUILD_FILE}
    env_file: 
      - ${ENV_DIR}queueserver
      - ${ENV_DIR}queuemongo
      - ${ENV_DIR}oauth
      - ${ENV_DIR}email
    command: >
      /bin/sh -c "cd /usr/src/app && chmod +x lightsidetest.sh && ./lightsidetest.sh && cd /usr/src/app && npm run-script production"
    expose:
      - 80
      - 443
    networks:
      - myNetwork
    volumes:
      - "${FOLDER_START}:/usr/src/app"
    container_name: ${WEBSERVER_CONTAINER_NAME}

networks:
  myNetwork:
    external: true